<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PetHound</title>
    <link rel="stylesheet" type="text/css" media="all" href="./css/style.css" th:href="@{./css/style.css}" />
</head>
<body>
<main class="principal">
    <section>
        <img class="principal__image" src="http://localhost:5000/img/logo-lapis-sbg-ph.png" alt="Logo Message PetHound">
    </section>
    <section class="principal__body">
        <h1 class="principal__body__titulo" th:text="${title}">
            Olá !
        </h1>
        <h2 class="principal__body__message" th:text="${message}">
            Mensagem ao cliente.
        </h2>
        <div class="principal__body__token__box">
            <p class="principal__body__token__text" th:text="${token}">token</p>
        </div>
    </section>
</main>
<footer>
    <p class="rodape">Pet Hound! Sua ajuda diária para encontrar o melhor serviço para seu pet!</p>
</footer>
</body>
</html>